body { margin: 0; padding: 0; }
h1 {
    color:white;
}
#map { position:absolute; top: 20; bottom: 0; width: 100%; height: 100%; z-index:-1}

.mapcon{
    width: 70%;
}

#zoomin {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #ee8a65;
}
#reset {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #ee8a65;
}
